# Header
## Title
### Subheading
We can have regular text in our markdown cell

In [2]:
2 + 3

5

# Variables

We use variables to store the data we are working/the program is working.

Variables are basis of any programing language.

**Variables** is a name for memory location/memory address. This location or address is stored.

In [3]:
a = 3

In [4]:
a

3

In [5]:
print(a)

3

A **String** is a sequence of letters, numbers, and characters enclosed in quotes (either single or double, so long as they match)

In [6]:
name = "Hanh"

In [7]:
lastName = "Nguyen"

In [8]:
name

'Hanh'

In [9]:
lastName

'Nguyen'

In [10]:
a = "The sky"   #define the variable
a

'The sky'

In [14]:
a = 3
type(a)

int

In [13]:
type(name)

str

**Pep8 website** is the Style Guide for Python

In [16]:
# lastName ---> Camel case
# last_name ---> Snake case
# imagineReadingThisSentenceInAllLowerCase
# they_prefer_this

In [17]:
# variable -- can take on different values

eye_color = "brown"

In [19]:
# constant -- on fixed value

PI = 3.14
DAYS_OF_THE_WEEK = 7

In [20]:
# simyltaneous assignment - give values to multiple variables at once

pet_name, pet_age, pet_type = "Duke", 2, "dog"    # define 3 variables at once

In [21]:
pet_name    # character

'Duke'

In [22]:
pet_age     # numeric

2

In [23]:
pet_type    # character

'dog'

In [24]:
classroom = "102"   # string because it is in quotes " "

In [25]:
type(classroom)

str

qualitative data vs quantitative data

qualitative -- non-numerical, labels, categories, groups, color, 0 = man

quantitative -- numbers w/ true mathematical properties

In [29]:
table_length = 60              # do NOT use space or dot for variable name to prevent Python to crash
table_length / 2

30.0

In [30]:
pet_name      # putting multiple things in 1 cells, Python will give output of the last line of code
pet_age
pet_type

'dog'

In [31]:
print(pet_name)      # using print to get the outcomes of multiple variables in 1 cell
print(pet_age)
print(pet_type)

Duke
2
dog

### Identifiers -- refers to the names we use for variables and functions
start the name with a letter

cannot start with a number

can be any sequence of letters or numbers or underscores after that first letter

no spaces allowed in an identifiers

case sensitive, so spam is a different identifier than Spam and spAm and SPAM

## Mathematical Symbols

`+` for addition

`-` for subtraction

`*` for multiplication

`/` for division


`//` for **floor** division (will return an integer value so also called integer division)

`**` for exponentiation

`%` for modulus (also known as remainder division)

In [32]:
25/4

6.25

In [33]:
25//4   # floor/integer division

6

In [36]:
25%4    # remainder/modulo division

1

In [37]:
# is 5 an even number
5%2

1

In [39]:
# is 12 an even number
12%2

0

In [41]:
a = 500
b = 100

print(a/b)
print(b-a)
print(b**2)  # the stuff in the parentheses is called the argument

# we can have multiple arguments in a print statement
# they just have to be separated by commas

5.0
-400
10000

In [46]:
print("The value of a is", a, ".  The value of b is", b, ".  The sum of a + b is:", a+b)

The value of a is 500 .  The value of b is 100 .  The sum of a + b is: 600

In [48]:
print("Hello World!!")

Hello World!!