# Heading 1
## Heading 2
### Heading 3

We have different way to run the cell

**shift + enter** to run the cell and add a new cell

**alt + enter** to add a new cell when you run the code

## Variables

use variables to store information we are working with

variables are a basic and fundamental concept to any program language

A *variable* is basically the name of a **memory location** in the computer's RAM memory. This basically means that the variable references an address that stores the value

In [1]:
a = 3     # = is called an assignment operator

In [2]:
a

3

In [3]:
print(a)

3

In [4]:
# comment
# anything after the hashtag on that line will be ignored

print(a)  # print(a)

3

In [5]:
b = 12
c = 56

In [6]:
a
b
c

56

In [7]:
print(a)
print(b)
print(c)

3
12
56

In [8]:
print(a, b, c)

3 12 56

In [9]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [13]:
name = "Hanh"    # a string is a sequence of letters, numbers, or characters enclosed in quotes 

print('My name is', name, 'and I love to', a, b, 4 * 5)

My name is Hanh and I love to 3 12 20

## Data Types in Python

`int` type of number -- integer

`float` another type of number -- decimals

`strings` a string is a sequence of letters, numbers or characters enclosed in quotes

`list` a sequence of values separately by commas and contained in square brackets

`boolean` also called a logical; it can only take one of two values -- **True** or **False** (remember, Python is case-sensitive so type it just like this

In [14]:
# to see the data type of a variable, use type() function

type(a)

int

In [15]:
f = 23.9474

type(f)

float

In [16]:
type(name)

str

The names of variables (and functions) are part of a larger class called **identifiers**. There are rules for naming identifiers to PEP8

- an identifier cannot start with a number

- it can start with an underscore( _ ) but this is something special in Python so don't do it!

- after the first letter, an identifier can have any combination of letters and numbers

- Python is case sensitive so ... cat Cat cAt etc are all different variables

- PEP8 prefers snake_case to camelCase

In [19]:
# simultaneous assignment, which is when we make more than one variable at a time

weather, day, dinner = "sunny", 4, 'pasta'

In [18]:
print(weather)
print(day)
print(dinner)

sunny
4
pasta

In [20]:
# variables are able to take on different values
# in python there is no real way to indicate a constant
# so PEP8 says to write the name of a constant in CAPS

PI = 3.14
DAYS_OF_THE_WEEK = 7

Python is a **dynamically-typed** language. The "meaning" of the variable is determined when you actually run the code. In other words, you do not have to tell Python what type of data the variable will be in advance/we don't have to specify the variable type

Java/C are **statically-typed** languages where you have to declare and initialize variables. (1) you have to tell them in the beginning the type of the variable and it can never change from that data type

Remember, you can use **type()** to see what type of data is stored in the variable

In [21]:
weather

'sunny'

In [22]:
# to see the memory location of a variable, use id()

id(weather)

2180472867184

In [23]:
id(a)

140704305684944

In [25]:
# Every time we change the values of the variable, we change its location  
a = 100
    
id(a)

140704305688048

In [27]:
# The old value of the variable is still stored in its own location
a = 3

id(a)

140704305684944

# Mutable vs Immutable

`immutable` data types cannot be changed. if we try to change the value of an imutable variable, Python will make a new variable that is stored in a different location to affect the change in value. Integers, Strings, Floats are immutable

`mutable` data types can be changed after it is created. List, dictionary, set are mutable

In [28]:
grocery_list = ["milk", "bread", "cheese"]
grocery_list

['milk', 'bread', 'cheese']

In [29]:
type(grocery_list)

list

In [30]:
id(grocery_list)

2180514199304

In [31]:
# add "cereal" to the list
grocery_list.append("cereal")
grocery_list

['milk', 'bread', 'cheese', 'cereal']

In [32]:
id(grocery_list)

2180514199304

In [33]:
grocery_list.append("broccoli")
grocery_list

['milk', 'bread', 'cheese', 'cereal', 'broccoli']

In [34]:
id(grocery_list)

2180514199304

--> For `list`, adding/changing items in the list does NOT the location of the variable

In [42]:
# range() function is used to create a sequence of values
# range(starting, stopping, step)

range(0, 6, 1)

range(0, 6)

In [36]:
# list the range of the numbers from 0 to 6, each increase 1 unit
list(range(0, 6, 1))

[0, 1, 2, 3, 4, 5]

In [37]:
# list the range up to but not including 6
list(range(6))

[0, 1, 2, 3, 4, 5]

In [41]:
# backward
# list the range from 100 to 10, each decrease 25 unit
list(range(100, 10, -25))

[100, 75, 50, 25]

In [40]:
# calculate the slope of a line

y1 = 7
y2 = 8
x1 = 10
x2 = 15

slope = (y2 - y1) / (x2 - x1)
slope

0.2

# Assignment Operators

`=` simple assignment

`+=` increment assignment

`-=` decrement assignment

`*=` multiplication assignment

`/=` division assignment

`**=` exponet/power assignment

`//=` floor/integer division assignment

`%=` remainder divsion assignment

In [87]:
a = 5

In [88]:
# update the value of a  by adding 1 to the original 1
a = a + 1
a

6

In [89]:
# as a = 6, update a by adding 1 to a -> the new a = 6 + 1 = 7
a += 1
a

7

In [90]:
a += 10
a

17

In [91]:
a -= 10
a

7

In [92]:
a *= 16
a

112

In [93]:
a /= 12
a

9.333333333333334

In [81]:
# division

25/4

6.25

In [82]:
# floor/integer division

25 // 4

6

In [83]:
# remainder/modulo division (whole number remainder)

25 % 4

1

In [94]:
a //= 2
a

4.0

In [95]:
a %= 2
a

0.0

In [96]:
a **= 1000
a

0.0

# Comparison Operators

Return a boolean value -- either **True** or **False**

`==` is equal to (equality); it will return **True** if the two operands are equal; it will return **False** if the two operands are not equal

`!=` is not equal to (inequality)

`<` less than

`<=` less than or equal to

`>` greater than

`>=` greater than or equal to

In [97]:
2 == 2

True

In [98]:
a == 0

True

In [99]:
name == "My"

False

In [100]:
2 != 2

False

In [101]:
weather != "cloudy"

True

In [102]:
# Type casting -- change the value of a data type (aka coertion)

y = 10.9
type(y)

float

In [103]:
int(y)  # change the type of y from float to integer

10

In [104]:
y

10.9

In [105]:
q = 2
type(q)

int

In [107]:
s = float(q)
s

2.0

In [108]:
z = "6"
type(z)

str

In [111]:
# if  Python think a string looks enough like a number, it will let you casting from string to float or integer
# although sometime Python does not let us casting string to number (float/int)
float(z)

6.0

In [110]:
int(z)

6

In [112]:
# in this case, Python won't let you cast the variable type
m = "hi"
int(m)

ValueError: invalid literal for int() with base 10: 'hi'

In [113]:
print("Hello, World")

Hello, World

In [114]:
print("Hello", "World")

Hello World